<body>


  <div class="container">


    <div class="container-fluid">

      <!-- card -->
      <div class="card text-center">

        <!-- card header -->
        <div class="card-header bg-secondary">
          Profili
        </div>

        <!-- card image -->
        <img src="{{'data:image/jpg;base64,' + user.userImage | byPassSecurity}}" class="card-img-top rounded-circle " style="width: auto; height: 400px;">

        <div class="card-body bg-secondary">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href="#" class="btn btn-primary"*ngFor="let role of user.roles">{{role.roleName}}</a>
        </div>
      </div>
    </div>



  </div>


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="container mt-4">

    

    <app-jobs></app-jobs>


  </div>


</body>